@import "consts";
@import "fonts";

html {
  .opensans_r();
  font-size: @font_normal;
  color: black;
}

input, button {
  .opensans_r();
  font-size: @font_normal;
}

body {
  padding: 0 100px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 600px;
  max-width: 1000px;
}


.question {
  h3 {
    .opensans_l();
    font-size: @font_normal + 1pt;
  }

  div {
    padding-left: 4em;
    color: #666;
    border-left: 2px dotted #ccc;
  }
}



footer {
  margin-top: 20px;
  border-top: 2px dotted #ccc;
  text-align: center;
  color: #ccc;
}