.top {
  background: #F2F2F2;
  padding: 1em;
}
.top > section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.top h1 {
  font-size: 16pt;
  text-align: center;
}
.top .sites {
  color: #737373;
  margin-top: 10px;
}
.top .sites li strong {
  font-weight: normal;
  display: inline-block;
  width: 7em;
}
.top .sites li em {
  font-size: 11pt;
  padding-left: 2em;
  font-style: normal;
}
.top form {
  width: 100%;
  font-size: 16pt;
  height: 2em;
  position: relative;
}
.top form .field {
  position: absolute;
  font-size: 16pt;
  left: 0;
  right: 140px;
  top: 0;
  bottom: 0;
  border: 1px solid #A6A6A6;
  background: white;
}
.top form .field > span {
  position: absolute;
  left: 3px;
  top: 5px;
  width: 32px;
  bottom: 0;
}
.top form .field > input {
  font-size: 16pt;
  width: 90%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  padding-left: 32px;
  background: none;
  outline: none;
}
.top form > input[type=submit] {
  position: absolute;
  font-size: 16pt;
  right: 0;
  width: 141px;
  top: 0;
  bottom: 0;
  border: 1px solid #A6A6A6;
  margin: 0;
  color: white;
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#000000));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #666666, #000000);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #666666, #000000);
  /* FF3.6 */

  background-image: linear-gradient(to bottom, #666666, #000000);
}
.top-question {
  text-align: right;
  font-size: 11pt;
  font-family: "segoe ui semibold", opensans_semibold_italic;
  font-weight: 300;
  font-style: italic;
}
.top-question ul {
  list-style: none;
}
.top-question ul li {
  padding: 0.3em 0;
}
