@import url(http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300&subset=cyrillic,latin);
h1 {
  font-size: 16pt;
  text-align: left;
  margin-top: 0;
  height: 50px;
  line-height: 50px;
}
h1 .home {
  -webkit-transform: translate(1px, 0);
  transform: translate(1px, 0);
  opacity: 0.9;
  background-image: url(/img/left_round.png);
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 26px;
  text-decoration: none;
  vertical-align: middle;
}
h1 .home:hover {
  opacity: 1;
}
h1 .home > img {
  vertical-align: middle;
}
.full-list ul {
  list-style: none;
}
.full-list li {
  float: left;
  width: 7em;
}
.result-group {
  clear: both;
}
.result-group strong.phone {
  background-color: #800000;
  color: white;
}
.result-group p.separator {
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
}
.result-group p.separator:hover:after {
  color: #888;
  font-size: 13pt;
  content: 'Щелкните чтобы увидеть текст целиком';
}
.result-group p.separator:after {
  content: '. . .';
  font-size: 16pt;
  text-align: left;
  display: block;
  height: 20px;
  line-height: 0.7em;
  margin-left: -1em;
}
.result-group .single-result {
  border-left: 2px dotted #008000;
  padding-left: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.result-group .single-result > h4 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
.result-group .single-result > h4 a {
  color: #444;
  text-decoration: none;
  font-weight: normal;
}
.result-group .single-result > h4 a:hover {
  text-decoration: underline;
}
.result-group .single-result > .summary,
.result-group .single-result > .full {
  padding-left: 2em;
  font-size: 11pt;
  font-family: serif;
  clear: both;
}
.result-group .single-result > .summary {
  cursor: pointer;
  border-left: 2px dashed #ccc;
}
.result-group .single-result > .full {
  padding: 0.5em 0 0em 2em;
}
.result-group .single-result .summary + .full {
  display: none;
}
.result-group .single-result .source {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  float: right;
  font-size: 10pt;
}
.result-group .single-result:after {
  content: ' ';
  display: block;
  clear: both;
}
.result-group h3 {
  border-left: 5px solid #008000;
  background-color: #ebf5eb;
  margin: 0;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 15pt;
  font-weight: normal;
}
.result-group h3 > span {
  color: #008000;
  font-weight: bold;
  float: left;
  font-size: 16pt;
}
.result-group h3 > span:after {
  content: "‒";
  padding: 0 0.3em;
}
.result-group.bad .single-result {
  border-left-color: #800000;
}
.result-group.bad h3 {
  border-left-color: #800000;
  background-color: #f5e9e9;
}
.result-group.bad h3 > span {
  color: #800000;
}
.bottom {
  margin-top: 2em;
}
.find {
  transition: all 0.2s;
  background: #F8f8f8;
  padding: 0em 1em;
  height: 40px;
  line-height: 40px;
  position: relative;
  margin-bottom: 0em;
  font-size: 11pt;
}
.find form {
  float: right;
}
.find form input {
  font-size: 11pt;
}
.find form .field,
.find form input[type=submit] {
  display: inline-block;
}
.find form .field input {
  margin: 0;
  border: 0;
}
.find:hover {
  top: 0;
}
.find input[type=submit] {
  border: 1px solid #374547;
  margin: 0;
  padding: 1px 6px;
  color: white;
  cursor: pointer;
  background: #374547;
  text-decoration: none;
  transition: all 0.2s;
  background-color: #d6d6d6;
  border-color: #d6d6d6;
}
.find input[type=submit]:active {
  -webkit-transform: translate(1px, 0);
  transform: translate(1px, 0);
}
.find input[type=submit]:hover {
  background-color: #006680;
  border-color: #006680;
}
.find:after {
  clear: both;
  content: ' ';
  display: block;
}
