@import url(http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300&subset=cyrillic,latin);
h1 {
  font-size: 16pt;
  text-align: center;
}
.full-list ul {
  list-style: none;
}
.full-list li {
  float: left;
  width: 7em;
}
.result-group strong.phone {
  background-color: #800000;
  color: white;
}
.result-group p.separator {
  position: relative;
  cursor: pointer;
}
.result-group p.separator:after {
  content: '. . .';
  font-size: 16pt;
  text-align: center;
  background: #eee;
  display: block;
  height: 1em;
  line-height: 0.7em;
  margin-left: -1em;
}
.result-group .single-result {
  border-left: 2px dotted #008000;
  padding-left: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.result-group .single-result > h4 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
.result-group .single-result > h4 a {
  color: black;
}
.result-group .single-result > summary,
.result-group .single-result > .full {
  padding-left: 2em;
  font-size: 11pt;
  font-family: serif;
  background-color: #eee;
}
.result-group .single-result > summary {
  cursor: pointer;
  border-top: 2px dashed #ccc;
  border-bottom: 2px dashed #ccc;
}
.result-group .single-result > .full {
  padding: 0.5em 0 1em 2em;
}
.result-group .single-result summary + .full {
  display: none;
}
.result-group .single-result .source {
  float: right;
  font-size: 11pt;
}
.result-group .single-result:after {
  content: ' ';
  display: block;
  clear: both;
}
.result-group h3 {
  border-left: 5px solid #008000;
  background-color: #d1efd1;
  margin: 0;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 16pt;
}
.result-group h3 > code {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  color: #444;
}
.result-group h3 > span {
  color: #444;
  float: left;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
}
.result-group h3 > span:after {
  content: "‒";
  padding: 0 0.3em;
}
.result-group.bad .single-result {
  border-left-color: #800000;
}
.result-group.bad h3 {
  border-left-color: #800000;
  background-color: #efd1d1;
}
.bottom {
  margin-top: 2em;
}
.find {
  opacity: 0.5;
  transition: all 0.2s;
  background: #F2F2F2;
  padding: 1em;
  position: relative;
  margin-bottom: 3em;
}
.find .home {
  border: 1px solid #374547;
  margin: 0;
  padding: 1px 6px;
  color: white;
  cursor: pointer;
  background: #374547;
  text-decoration: none;
  transition: all 0.2s;
  background-color: #888;
  border-color: #888;
  width: 150px;
  float: left;
}
.find .home:active {
  -webkit-transform: translate(1px, 0);
  transform: translate(1px, 0);
}
.find .home:hover {
  background-color: #006680;
  border-color: #006680;
}
.find form {
  float: right;
}
.find form .field,
.find form input[type=submit] {
  display: inline-block;
}
.find form .field input {
  margin: 0;
}
.find h1 {
  display: none;
}
.find input[type=submit] {
  border: 1px solid #374547;
  margin: 0;
  padding: 1px 6px;
  color: white;
  cursor: pointer;
  background: #374547;
  text-decoration: none;
  transition: all 0.2s;
  background-color: #888;
  border-color: #888;
}
.find input[type=submit]:active {
  -webkit-transform: translate(1px, 0);
  transform: translate(1px, 0);
}
.find input[type=submit]:hover {
  background-color: #006680;
  border-color: #006680;
}
.find:after {
  clear: both;
  content: ' ';
  display: block;
}
.find:hover,
.find:focus {
  opacity: 1;
}
